.navbar{
    height:5 rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size:2rem;
}
.nav-link{
   color:#222222 !important; 
}
.f-info-links a {
text-decoration: none;
color : #222222;
}
.f-info-links a:hover{

    text-decoration: underline;
}
.f-info-links{
    width:100;
    display: flex;
    align-items:center ;
    justify-content: center;

}
.f-info-socials {
    width:100;
    display: flex;
    align-items:center ;
    justify-content: center;
     
    
    
}
.f-info-socials i{
    text-align: center;
    height: 8rem;

}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: space-evenly;

}
.listing-card {
    border:none;
    margin-bottom: 2 rem;
}
.card-img-top{
    border-radius: 1 rem;
    width:100%;
    object-fit: cover;
}
.card-body{
    padding:0;
}
.card-text p{
    font-weight:400;
}
.listing-link{
    text-decoration: none;

}
.card-img-overlay:hover {
    opacity: 0;
    background-color: white;
}
.edit-btn{
    background-color: #fe424d;
    border:none !important;

}
.show-img{
    height: 30vh;
}